#Fire up GraphLab Create

In [2]:
import graphlab

## load a tabular data set

In [6]:
sf = graphlab.SFrame('people-example.csv')

PROGRESS: Read 7 lines. Lines per second: 427.168
PROGRESS: Finished parsing file /home/joe/coursera/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.016651 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /home/joe/coursera/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.01368 secs.

In [8]:
print sf

+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# Sframe basics

In [9]:
sf #first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [10]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [11]:
sf.tale()

AttributeError: 'SFrame' object has no attribute 'tale'

In [14]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# Graphlab Canvas

In [16]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:58954/index.html
Opening Canvas in default web browser.

In [17]:
sf.set_target('ipynb')

AttributeError: 'SFrame' object has no attribute 'set_target'

In [18]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [19]:
sf['age'].mean()

23.142857142857146

# Create new columns

In [20]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [21]:
sf['Full Name'] = sf['First Name'] + sf['Last Name']

In [22]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |
|  Malcolm   |    Jone   |    England    |  22 |  MalcolmJone  |
|   Felix    |   Brown   |      USA      |  23 |   FelixBrown  |
|    Alex    |   Cooper  |     Poland    |  23 |   AlexCooper  |
|    Tod     |  Campbell | United States |  22 |  TodCampbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   DerekWard   |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]

In [23]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [24]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [25]:
sf['age'].reduce

AttributeError: 'SArray' object has no attribute 'reduce'

In [26]:
sf['age'] + 2

dtype: int
Rows: 7
[26, 25, 24, 25, 25, 24, 27]

In [27]:
sf['age'] + 2 * sf['age']

dtype: int
Rows: 7
[72, 69, 66, 69, 69, 66, 75]

# Use the apply function to transform data

In [28]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [29]:
sf['Country'].apply

<bound method SArray.apply of dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']>

In [31]:
gl.canvas.set_target('ipynb')

NameError: name 'gl' is not defined

In [34]:
sf.canvas.set_target('ipynb')

AttributeError: 'SFrame' object has no attribute 'canvas'

In [33]:
graphlab.canvas.set_target('ipynb')

In [36]:
sf['Country'].show()

In [37]:
sf.show()

# Changing USA to United states

In [43]:
def transform_country(c):
    if c == 'USA':
        return 'United States'
    else:
        return c

In [44]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [45]:
sf['Country'] = sf['Country'].apply(transform_country)

In [46]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [48]:
sf['Country'] = sf['Country'].apply(lambda x: x+x)

In [49]:
sf['Country']

dtype: str
Rows: 7
['United StatesUnited States', 'CanadaCanada', 'EnglandEngland', 'United StatesUnited States', 'PolandPoland', 'United StatesUnited States', 'SwitzerlandSwitzerland']