In [1]:
import graphlab

ImportError: No module named graphlab

In [4]:
people = graphlab.SFrame('./data/people_wiki.gl/')

In [5]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [6]:
len(people)

59071

# Explore dataset

In [10]:
obama = people[people['name']== 'Barack Obama']

In [11]:
obama

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [12]:
obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

In [13]:
obama['word_count']

dtype: dict
Rows: 1
[{'operations': 1, 'represent': 1, 'office': 2, 'unemployment': 1, 'doddfrank': 1, 'over': 1, 'unconstitutional': 1, 'domestic': 2, 'major': 1, 'years': 1, 'against': 1, 'proposition': 1, 'seats': 1, 'graduate': 1, 'debate': 1, 'before': 1, 'death': 1, '20': 2, 'taxpayer': 1, 'representing': 1, 'obamacare': 1, 'barack': 1, 'to': 14, '4': 1, 'policy': 2, '8': 1, 'he': 7, '2011': 3, '2010': 2, '2013': 1, '2012': 1, 'bin': 1, 'then': 1, 'his': 11, 'march': 1, 'gains': 1, 'cuba': 1, 'school': 3, '1992': 1, 'new': 1, 'not': 1, 'during': 2, 'ending': 1, 'continued': 1, 'presidential': 2, 'states': 3, 'husen': 1, 'osama': 1, 'californias': 1, 'equality': 1, 'prize': 1, 'lost': 1, 'made': 1, 'inaugurated': 1, 'january': 3, 'university': 2, 'rights': 1, 'july': 1, 'gun': 1, 'stimulus': 1, 'rodham': 1, 'troop': 1, 'withdrawal': 1, 'brk': 1, 'nine': 1, 'where': 1, 'referred': 1, 'affordable': 1, 'attorney': 1, 'on': 2, 'often': 1, 'senate': 3, 'regained': 1, 'national': 2, 'creation': 1, 'related': 1, 'hawaii': 1, 'born': 2, 'second': 2, 'defense': 1, 'election': 3, 'close': 1, 'operation': 1, 'insurance': 1, 'sandy': 1, 'afghanistan': 2, 'initiatives': 1, 'for': 4, 'reform': 1, 'house': 2, 'review': 1, 'representatives': 2, 'ended': 1, 'current': 1, 'state': 1, 'won': 1, 'limit': 1, 'victory': 1, 'unsuccessfully': 1, 'reauthorization': 1, 'keynote': 1, 'full': 1, 'patient': 1, 'august': 1, 'degree': 1, '44th': 1, 'bm': 1, 'mitt': 1, 'attention': 1, 'delegates': 1, 'lgbt': 1, 'job': 1, 'harvard': 2, 'term': 3, 'served': 2, 'ask': 1, 'november': 2, 'debt': 1, 'by': 1, 'wall': 1, 'care': 1, 'received': 1, 'great': 1, 'signed': 3, 'libya': 1, 'receive': 1, 'of': 18, 'months': 1, 'urged': 1, 'foreign': 2, 'american': 3, 'protection': 2, 'economic': 1, 'act': 8, 'military': 4, 'hussein': 1, 'or': 1, 'first': 3, 'control': 4, 'named': 1, 'clinton': 1, 'dont': 2, 'campaign': 3, 'russia': 1, 'civil': 1, 'reinvestment': 1, 'into': 1, 'address': 1, 'primary': 2, 'community': 1, 'mccain': 1, 'down': 1, 'hook': 1, '63': 1, 'americans': 1, 'elementary': 1, 'total': 1, 'earning': 1, 'repeal': 1, 'from': 3, 'raise': 1, 'district': 1, 'spending': 1, 'republican': 2, 'legislation': 1, 'three': 1, 'relations': 1, 'nobel': 1, 'start': 1, 'tell': 1, 'iraq': 4, 'convention': 1, 'resulted': 1, 'john': 1, 'was': 5, '2012obama': 1, 'form': 1, 'that': 1, 'tax': 1, 'sufficient': 1, 'republicans': 1, 'strike': 1, 'hillary': 1, 'street': 1, 'arms': 1, 'honolulu': 1, 'filed': 1, 'worked': 1, 'hold': 1, 'with': 3, 'obama': 9, 'ii': 1, 'has': 4, '1997': 1, '1996': 1, 'whether': 1, 'reelected': 1, 'budget': 1, 'us': 6, 'nations': 1, 'recession': 1, 'while': 1, 'taught': 1, 'marriage': 1, 'policies': 1, 'promoted': 1, 'called': 1, 'and': 21, 'supreme': 1, 'ordered': 3, 'nominee': 2, 'process': 1, '2000in': 1, 'is': 2, 'romney': 1, 'briefs': 1, 'defeated': 1, 'general': 1, '13th': 1, 'as': 6, 'at': 2, 'in': 30, 'sought': 1, 'organizer': 1, 'shooting': 1, 'increased': 1, 'normalize': 1, 'lengthy': 1, 'united': 3, 'court': 1, 'recovery': 1, 'laden': 1, 'laureateduring': 1, 'peace': 1, 'administration': 1, '1961': 1, 'illinois': 2, 'other': 1, 'which': 1, 'party': 3, 'primaries': 1, 'sworn': 1, 'relief': 2, 'war': 1, 'columbia': 1, 'combat': 1, 'after': 4, 'islamic': 1, 'running': 1, 'levels': 1, 'two': 1, 'involvement': 3, 'response': 3, 'included': 1, 'president': 4, 'law': 6, 'nomination': 1, '2008': 1, 'a': 7, '2009': 3, 'chicago': 2, 'constitutional': 1, 'defeating': 1, 'treaty': 1, 'federal': 1, '2007': 1, '2004': 3, 'african': 1, 'the': 40, 'democratic': 4, 'consumer': 1, 'began': 1, 'terms': 1}]

In [19]:
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word', 'count'])

In [26]:
obama[['word_count']][['word_count']]

Columns:
	word_count	dict

Rows: 1

Data:
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'operations': 1, 'represe... |
+-------------------------------+
[1 rows x 1 columns]

In [29]:
obama_word_count_table.sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   a   |   7   |
|   he  |   7   |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Compute TF - IDF

In [30]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1, 'carltons': 1... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'legendary': 1, 'gangster... |
| sam henderson born october... | {'now': 1, 'currently': 1,... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [31]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [32]:
tfidf

Columns:
	docs	dict

Rows: 59071

Data:
+-------------------------------+
|              docs             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 1 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [33]:
        people['tfidf'] = tfidf['docs']

In [34]:
tfidf['docs'][0]

{'10': 2.3157231098806563,
 '1979': 2.6032908378122737,
 '19982000': 6.509158574746988,
 '2000': 1.8763068991994527,
 '2001': 1.9280249665871378,
 '2002': 1.8753125887822302,
 '2003': 1.8013702663900752,
 '2005': 1.6425861253275964,
 '2006': 1.520737905384506,
 '2007': 1.4879730697555795,
 '2008': 1.5093391374786154,
 '2009': 1.5644364836042695,
 '2011': 1.7023470901042919,
 '2013': 1.9545642372230505,
 '2014': 2.2073995783446634,
 '21': 2.797250863489293,
 '32': 4.3717697890214335,
 '44game': 9.887883100557085,
 'a': 0.022476737890332586,
 'acted': 4.137429106591736,
 'afl': 4.70049729471633,
 'aflfrom': 10.986495389225194,
 'against': 4.015921958283749,
 'age': 2.138848033513307,
 'along': 2.5088749729287803,
 'also': 0.4627270916162349,
 'and': 0.002980575592194913,
 'as': 0.2543390440248236,
 'assistant': 2.5220702633476124,
 'at': 0.8612771466165147,
 'australia': 2.86858644684204,
 'australian': 8.630007339620153,
 'before': 2.9935647453367427,
 'being': 1.7938099524877322,
 'blues': 4.064837205074066,
 'born': 0.268196273764765,
 'box': 4.576320507259028,
 'brisbaneafter': 10.986495389225194,
 'bullants': 7.489987827758714,
 'by': 0.37455341206197373,
 'career': 1.3050270203415668,
 'carlton': 10.682096983163913,
 'carltons': 7.0744723837970485,
 'cause': 4.8023464982877115,
 'club': 11.043158373020127,
 'clubs': 3.4464050690798693,
 'coach': 5.444264118987054,
 'coached': 3.9925624140020046,
 'coburg': 7.851001173296044,
 'college': 1.5613662703175555,
 'continued': 2.720588055069447,
 'corey': 6.486685718894929,
 'currently': 1.637088969126014,
 'david': 2.4512658353228582,
 'delisted': 5.816011394187043,
 'digby': 8.347438059609935,
 'district': 2.774469584601757,
 'division': 2.7906099979103978,
 'draft': 3.240194726993755,
 'drawn': 4.96062941539988,
 'during': 1.3174651479035495,
 'early': 1.929422753652229,
 'edflhe': 10.986495389225194,
 'education': 2.4487155642005685,
 'end': 4.839120211828286,
 'essendon': 6.016682089649193,
 'exchange': 4.113331555012676,
 'falcons': 5.868501576808439,
 'first': 0.6956048713993103,
 'five': 2.2137301792754096,
 'following': 1.9609195556941061,
 'football': 25.58570665567139,
 'footballer': 3.2388985505323085,
 'for': 0.29145011737314763,
 'former': 1.3573131120992086,
 'forward': 3.8848194176057507,
 'from': 0.5875106759712689,
 'game': 2.4168995190159084,
 'games': 2.2331239682242914,
 'goalkicker': 6.859361004180102,
 'goals': 3.4581636225179473,
 'has': 0.428497539744039,
 'hawks': 5.531174273867493,
 'he': 1.280211345952344,
 'hill': 3.794313330511949,
 'his': 0.7878343656409719,
 'in': 0.01255028255157884,
 'is': 0.02761625047551999,
 'its': 1.6875948402695313,
 'kangaroos': 20.726873835958425,
 'kicked': 5.142950972193835,
 'leading': 5.061504320250359,
 'league': 8.342695137239867,
 'losing': 3.773463729390325,
 'mckernan': 9.600201028105303,
 'melbourne': 3.8914310119380633,
 'morrell': 46.88528738395547,
 'northern': 3.310021742836038,
 'october': 1.9182947844101343,
 'of': 0.016624704796446097,
 'other': 1.4424007566948476,
 'parade': 5.510031837293684,
 'perth': 5.051601193605607,
 'physical': 4.001779069106929,
 'play': 2.270287418073342,
 'played': 4.636320601315451,
 'playing': 4.182005515547123,
 'premier': 3.6766139034004075,
 'premiership': 4.5439552227569955,
 'recruited': 4.4897203990393315,
 'retiring': 3.8140708121003493,
 'rookie': 4.104057918227347,
 'round': 2.897933583948961,
 'rules': 3.8272034844276295,
 'season': 5.6626008156972025,
 'selection': 3.836578553093086,
 'senior': 6.897159666747814,
 'shifted': 5.634637255749128,
 'since': 1.455376717308041,
 'spanned': 5.531174273867493,
 'strathmore': 8.588600116426823,
 'sydney': 3.5981675296480873,
 'teaches': 3.7712554104950966,
 'teague': 9.04058524016988,
 'the': 0.0027426017494956603,
 'third': 2.3506306680914584,
 'time': 1.3253342074200498,
 'to': 0.23472468840899613,
 'traded': 3.952107459309691,
 'twice': 3.3301582227950113,
 'until': 1.7591012626831841,
 'vfl': 5.253154112327449,
 'vflaffiliate': 7.431147327735781,
 'victorian': 4.564873121418676,
 'was': 0.3968289280609173,
 'west': 5.205210090246754,
 'western': 3.0880842964135953,
 'who': 0.9098952189804214,
 'with': 1.0123432126103034}

In [38]:
obama = people[people['name'] == 'Barack Obama']

In [42]:
obama[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Manually compute distances between  people

In [44]:
clinton = people[people['name'] == 'Bill Clinton']
beckham = people[people['name'] == 'David Beckham']

In [46]:
graphlab.text_analytics.count_ngrams(clinton['text'])

dtype: dict
Rows: ?
[{'who was': 1, 'clinton who': 1, 'at age': 1, 'clinton foundation': 1, 'and began': 1, 'served as': 2, 'the republican': 1, 'he passed': 1, 'jefferson bill': 1, 'of peacetime': 1, 'democratic house': 1, 'of oxford': 1, 'a centrist': 1, 'millions of': 1, 'from 1993': 1, 'at the': 1, 'american history': 1, 'met and': 1, 'elected president': 2, 'office at': 1, 'involved in': 1, 'to address': 1, 'born william': 1, 'as governor': 1, 'to 1992': 1, 'by campaigning': 1, 'trade agreement': 1, 'a senator': 1, 'franklin d': 1, 'passed welfare': 1, 'highly in': 1, 'also the': 1, 'speaking and': 1, 'health coverage': 1, 'the congress': 1, 'over the': 1, 'his autobiography': 1, 'skilled musician': 1, 'politics by': 1, 'j clinton': 1, 'chair of': 1, 'period of': 1, 'george w': 1, 'created the': 1, 'georgetown university': 1, 'since then': 1, 'george h': 1, 'and a': 1, 'clinton bush': 1, 'my life': 1, 'national governors': 1, 'of aids': 1, 'began dating': 1, 'war ii': 1, 'third way': 1, 'years 1998': 1, 'teamed with': 1, 'has been': 3, 'highest endofoffice': 1, 'from new': 1, 'kappa kappa': 1, '2001 as': 1, '2008 and': 1, 'for his': 1, 'attributed to': 1, 'member of': 1, 'presidential nomination': 1, 'nomination and': 1, 'won control': 1, 'then barack': 1, 'in arkansas': 1, 'august 19': 1, 'to attend': 1, 'house intern': 1, 'democratic presidential': 1, 'special envoy': 1, 'democrat since': 1, 'been described': 1, 'served from': 1, 'cold war': 1, 'remained active': 1, 'clinton overhauled': 1, 'the national': 1, 'intern he': 1, 'polls of': 1, 'the first': 3, 'he was': 7, 'first time': 1, 'barack obamas': 1, 'politician who': 1, 'was impeached': 1, 'blythe iii': 1, 'party won': 1, 'overhauled the': 1, 'he is': 2, 'with george': 1, '2008 democratic': 1, 'since world': 1, 'and earned': 1, 'him both': 1, 'and raised': 1, '1981 and': 1, 'in 2004': 1, 'earthquake he': 1, 'was acquitted': 1, 'policies have': 1, 'bill clinton': 1, 'republican party': 1, 'defeating incumbent': 1, 'end of': 1, 'democrat many': 1, 'system and': 1, 'way philosophy': 1, '1998 and': 1, 'named united': 1, 'hillary rodham': 1, 'new democrat': 1, 'and from': 1, 'student leader': 1, 'reported a': 1, 'insurance program': 1, 'governors associationclinton': 1, 'clinton born': 1, 'humanitarian work': 1, 'before becoming': 1, 'us senate': 1, 'democratic candidates': 1, 'the highest': 1, 'in 1998': 1, '1946 is': 1, 'serving from': 1, 'in 1994': 1, 'to pass': 1, 'in 1992': 1, 'earned a': 1, 'the congressional': 1, 'he has': 2, 'reform and': 1, 'office clinton': 1, 'campaigning for': 1, 'to 2001': 1, 'from yale': 1, 'to 2009': 1, 'most notably': 1, 'general from': 1, 'acquitted by': 1, 'during a': 1, 'the democratic': 1, 'university of': 1, 'as chair': 1, 'alumnus of': 1, 'longest period': 1, 'for democratic': 1, 'the 2010': 1, 'with the': 1, '2009 both': 1, 'took office': 1, 'the longest': 1, 'impeached for': 1, 'baby boomer': 1, 'to 1981': 1, 'last three': 1, 'a budget': 1, 'haiti earthquake': 1, 'for five': 1, 'campaign for': 1, 'pass national': 1, 'published his': 1, 'governance before': 1, 'the 42nd': 1, 'control of': 1, 'the baby': 1, 'agreement after': 1, 'the states': 2, 'to a': 2, 'children in': 1, 'scholarship to': 1, 'law school': 1, 'budget surplus': 1, 'president since': 1, 'office with': 1, 'the years': 1, 'iii august': 1, 'served his': 1, 'foundation to': 1, 'house was': 1, 'life he': 1, 'have been': 1, 'endofoffice approval': 1, 'lawsuit against': 1, 'care reform': 1, 'first president': 1, 'term of': 1, 'terms serving': 1, 'was a': 2, 'such as': 1, 'school where': 1, 'h w': 1, 'rhodes scholarship': 1, 'incumbent george': 1, 'leaving office': 1, 'to 1979born': 1, 'been involved': 1, 'he took': 1, 'against him': 1, 'was the': 3, 'the cold': 1, 'since leaving': 1, 'as the': 2, '42nd president': 1, 'causes such': 1, 'congress in': 1, 'three years': 1, 'for the': 2, 'fund since': 1, 'the thirdyoungest': 1, 'the governor': 1, 'dating as': 1, 'the north': 1, 'the end': 1, 'his complete': 1, 'attorney general': 1, 'and global': 1, 'a student': 1, 'when the': 1, '1983 to': 1, 'of clintons': 1, 'a new': 1, 'obstruction of': 1, 'and signed': 1, 'then he': 1, 'program providing': 1, 'and after': 1, 'as a': 1, 'both related': 1, 'jefferson blythe': 1, 'united nations': 1, '19 1946': 1, '2012 in': 1, 'presided over': 1, 'was also': 1, 'where they': 1, 'of us': 1, 'complete term': 1, 'centrist third': 1, 'of any': 1, 'clintons earned': 1, 'degrees from': 1, 'states secretary': 1, 'he teamed': 1, 'public opinion': 1, 'providing health': 1, 'two years': 1, 'governor of': 2, '1992 he': 1, 'clinton presided': 1, '1993 to': 1, 'from the': 1, 'the united': 1, '46 he': 1, 'to hillary': 1, 'thirdyoungest president': 1, 'in 40': 1, 'senate and': 1, 'a white': 1, 'after failing': 1, '1994 for': 1, 'age 46': 1, 'psi and': 1, 'the william': 1, 'the state': 1, 'obamas presidential': 1, 'president in': 1, 'state from': 1, 'budget office': 1, 'opinion polls': 1, 'presidential campaigns': 1, 'and who': 1, 'and obstruction': 1, 'earned law': 1, 'into law': 1, 'president he': 2, 'from 1977': 1, 'before a': 1, 'from 1979': 1, 'an american': 1, 'the us': 1, 'childrens health': 1, '2010 haiti': 1, 'in public': 2, 'of governance': 1, 'both clintons': 1, 'a rhodes': 1, 'for millions': 1, 'years of': 1, 'president from': 1, 'yale law': 1, 'time in': 1, 'us presidents': 1, 'president of': 1, 'to be': 1, 'law degrees': 1, 'international causes': 1, 'of office': 1, 'law the': 1, 'public speaking': 1, 'of kappa': 1, 'william j': 1, 'of his': 1, 'and then': 1, 'of arkansas': 2, 'education system': 1, 'autobiography my': 1, 'the 2008': 1, 'bush to': 1, 'peacetime economic': 1, 'inaugurated at': 1, 'a scandal': 1, '1979 to': 1, 'an alumnus': 1, '2009 he': 1, 'kappa psi': 1, 'presidencyclinton left': 1, 'and 2012': 1, 'married to': 1, 'kappa and': 1, 'reform the': 1, 'of state': 1, 'the clinton': 1, 'and was': 1, 'welfare reform': 1, '2009 to': 1, 'since franklin': 1, 'in politics': 1, 'states education': 1, 'been attributed': 1, 'a member': 1, 'national health': 1, '2001 to': 1, 'first democrat': 1, 'leader and': 1, 'haiti and': 1, 'of children': 1, 'after the': 1, 'william jefferson': 2, 'and phi': 1, 'oxford he': 1, '2013 and': 1, 'rodham clinton': 1, 'form the': 1, 'the prevention': 1, 'work clinton': 1, 'approval rating': 1, 'global warming': 1, 'attend the': 1, 'justice during': 1, 'd roosevelt': 1, 'new york': 1, 'campaigns in': 1, '1977 to': 1, 'any us': 1, 'notably for': 1, 'from 1983': 1, 'related to': 1, 'failing to': 1, 'to haiti': 1, 'north american': 1, 'state childrens': 1, 'a grand': 1, 'by the': 1, 'w bush': 2, 'and served': 2, 'economic expansion': 1, 'of justice': 1, 'be elected': 1, 'american free': 1, 'between the': 1, 'of the': 4, 'for perjury': 1, 'health insurance': 1, 'was ousted': 1, 'grand jury': 1, 'and humanitarian': 1, 'from 2009': 1, 'as united': 1, 'from 2001': 1, 'rating of': 1, 'involving a': 1, 'bush haiti': 1, 'secretary of': 1, 'his policies': 1, 'states inaugurated': 1, 'later clinton': 1, 'five terms': 1, 'signed into': 1, 'rated highly': 1, 'generation clinton': 1, 'arkansas clinton': 2, 'ousted when': 1, 'scandal involving': 1, 'a skilled': 1, '2004 he': 1, '40 years': 1, 'us president': 1, 'office the': 1, 'they met': 1, 'in american': 1, 'the last': 1, 'years later': 1, 'the university': 1, 'philosophy of': 1, '1992 defeating': 1, 'history and': 1, 'york from': 1, 'boomer generation': 1, 'envoy to': 1, 'war and': 1, 'became the': 1, 'associationclinton was': 1, 'haiti fund': 1, 'world war': 1, 'warming in': 1, 'university where': 1, 'jury and': 1, 'free trade': 1, 'of georgetown': 1, 'bush clinton': 1, 'clinton became': 2, 'became both': 1, 'united states': 2, 'address international': 1, 'american politician': 1, 'was named': 1, 'becoming president': 1, 'who served': 2, 'clinton has': 2, 'been rated': 1, 'in 2008': 1, 'in 2009': 1, 'nations special': 1, 'senator from': 1, 'was elected': 1, 'described as': 1, 'congressional budget': 1, 'both a': 1, 'has remained': 1, 'where he': 1, 'twice he': 1, 'candidates most': 1, 'is married': 1, 'raised in': 1, 'beta kappa': 1, 'expansion in': 1, 'he published': 1, 'is an': 2, 'years two': 1, 'left office': 1, 'white house': 1, 'wifes campaign': 1, 'phi beta': 1, '1979born and': 1, 'roosevelt to': 1, 'health care': 1, 'to form': 1, '2000 the': 1, 'coverage for': 1, 'arkansas for': 1, 'and 2000': 1, 'and the': 1, '1998 he': 1, 'perjury before': 1, 'clinton created': 1, 'clintons presidencyclinton': 1, 'ii since': 1, 'states attorney': 1, 'aids and': 1, 'surplus between': 1, 'musician he': 1, 'a lawsuit': 1, 'president twice': 1, 'many of': 1, 'active in': 1, 'his wifes': 1, 'to 2013': 1, 'office reported': 1, 'prevention of': 1}, ... ]

In [47]:
graphlab.distances.cosine(obama['tfidf'][0], clinton['tfidf'][0])

0.8339854936884276

In [48]:
graphlab.distances.cosine(obama['tfidf'][0], beckham['tfidf'][0])

0.9791305844747478

## nearest neighbour model  (could build own)

In [50]:
knn_model = graphlab.nearest_neighbors.create(people, features=['tfidf'], label='name')

PROGRESS: Starting brute force nearest neighbors model training.

Applying - obama

In [51]:
knn_model.query(obama)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 13.837ms     |
PROGRESS: | Done         |         | 100         | 303.002ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [58]:
knn_model.query(people[people['name'] == 'Angelina Jolie'])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 14.433ms     |
PROGRESS: | Done         |         | 100         | 365.698ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Angelina Jolie   |      0.0       |  1   |
|      0      |     Brad Pitt      | 0.784023668639 |  2   |
|      0      |   Julianne Moore   | 0.795857988166 |  3   |
|      0      | Billy Bob Thornton | 0.803069053708 |  4   |
|      0      |   George Clooney   |   0.8046875    |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [59]:
knn_model.query(people[people['name'] == 'Paul Ryan'])

ToolkitError: Input dataset either has no rows or no columns. A non-empty SFrame is required.

In [61]:
knn_model.query(people[people['name'] == 'J. K. Rowling'])

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 10.754ms     |
PROGRESS: | Done         |         | 100         | 300.289ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |  J. K. Rowling  |      0.0       |  1   |
|      0      |   Alicia Keys   | 0.835694050992 |  2   |
|      0      |     Clara Ng    | 0.841317365269 |  3   |
|      0      |    Anne Rice    | 0.842519685039 |  4   |
|      0      |    Joss Stone   | 0.842818428184 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

Building nearest neighbors models with different input features and setting the distance metric: In the sample notebook, we built a nearest neighbors model for retrieving articles using TF-IDF as features and using the default setting in the construction of the nearest neighbors model. Now, you will build two nearest neighbors models:
Using word counts as features
Using TF-IDF as features

. Now, you will build two nearest neighbors models: Using word counts as features Using TF-IDF as features

'' Using word counts as features