In [8]:
import graphlab

In [9]:
graphlab.canvas.set_target('ipynb')

In [10]:
data = graphlab.SFrame('./data/people_wiki.gl/')

In [11]:
AnswerDict = {}

1. Compare top words according to word counts to TF-IDF: In the notebook we covered in the module, we explored two document representations: word counts and TF-IDF. Now, take a particular famous person, 'Elton John'. What are the 3 words in his articles with highest word counts? What are the 3 words in his articles with highest TF-IDF? These results illustrate why TF-IDF is useful for finding important words. Save these results to answer the quiz at the end.

 What are the 3 words in his articles with highest word counts?

In [12]:
elton = data[data['name']=='Elton John']

In [13]:
elton

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [14]:
elton['word_count'] = graphlab.text_analytics.count_words(elton['text'])

In [15]:
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'all': 1, 'six': 1, 'prod... |
+-------------------------------+
[1 rows x 4 columns]

In [16]:
elton[['word_count']].stack('word_count', new_column_name = ['word', 'count']).sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
AnswerDict[' What are the 3 words in his articles with highest word counts?'] = ['the', 'in', 'and']

What are the 3 words in his articles with highest TF-IDF?

In [18]:
data['word_count'] = graphlab.text_analytics.count_words(data['text'])

In [19]:
tfidf = graphlab.text_analytics.tf_idf(data['word_count'])

In [20]:
tfidf

Columns:
	docs	dict

Rows: 59071

Data:
+-------------------------------+
|              docs             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 1 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [21]:
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'all': 1, 'six': 1, 'prod... |
+-------------------------------+
[1 rows x 4 columns]

In [22]:
        data['tfidf'] = tfidf['docs']

In [23]:
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'all': 1, 'six': 1, 'prod... |
+-------------------------------+
[1 rows x 4 columns]

In [24]:
elton = data[data['name']=='Elton John']

In [25]:
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1, 'six': 1, 'prod... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [26]:
elton[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
AnswerDict['What are the 3 words in his articles with highest TF-IDF? '] = ['furnish', 'elton', 'billboard']

Measuring distance: Elton John is a famous singer; let’s compute the distance between his article and those of two other famous singers. In this assignment, you will use the cosine distance, which one measure of similarity between vectors, similar to the one discussed in the lectures. You can compute this distance using the graphlab.distances.cosine function. What’s the cosine distance between the articles on ‘Elton John’ and ‘Victoria Beckham’? *What’s the cosine distance between the articles on ‘Elton John’ and Paul McCartney’?* Which one of the two is closest to Elton John? Does this result make sense to you? Save these results to answer the quiz at the end.

In [28]:
victoriaBeckham = data[data['name'] == 'Victoria Beckham']
paulMcartney = data[data['name'] == 'Paul McCartney']

In [29]:
graphlab.distances.cosine(elton['tfidf'][0], victoriaBeckham['tfidf'][0])

0.9567006376655429

In [30]:
graphlab.distances.cosine(elton['tfidf'][0], paulMcartney['tfidf'][0])

0.8250310029221779

In [31]:
AnswerDict['What’s the cosine distance between the articles on ‘Elton John’ and ‘Victoria Beckham’?'] = 0.9567006376655429

In [32]:
AnswerDict['What’s the cosine distance between the articles on ‘Elton John’ and Paul McCartney’?'] = 0.8250310029221779

Building nearest neighbors models with different input features and setting the distance metric: In the sample notebook, we built a nearest neighbors model for retrieving articles using TF-IDF as features and using the default setting in the construction of the nearest neighbors model. Now, you will build two nearest neighbors models: Using word counts as features Using TF-IDF as features
. Now, you will build two nearest neighbors models: Using word counts as features Using TF-IDF as features
'' Using word counts as features

In [33]:
victoriaBeckham['tfidf'][0]

{'10': 2.3157231098806563,
 '17': 2.7543211528412543,
 '1974': 2.77067759739274,
 '1990s': 3.1109960967799863,
 '1996': 2.135691193468776,
 '2': 2.2482408126990716,
 '2008': 1.5093391374786154,
 '2011': 5.107041270312876,
 '2012': 1.7938099524877322,
 '2014': 2.2073995783446634,
 '380': 7.654290879049991,
 'a': 0.02809592236291573,
 'about': 1.9265128988375737,
 'adams': 4.870603263742161,
 'after': 0.9443334420013064,
 'allfemale': 7.460134864609033,
 'america': 2.5998665678300736,
 'american': 1.1273777844250068,
 'an': 1.1929563563275885,
 'and': 0.008941726776584738,
 'appearance': 3.3277958309568954,
 'april': 1.9892244829917467,
 'as': 0.2543390440248236,
 'assessed': 6.9975113426609195,
 'at': 0.43063857330825733,
 'beckham': 56.922355026538426,
 'beckhams': 9.19473591999714,
 'become': 2.4964678658817263,
 'been': 1.954954670959205,
 'being': 1.7938099524877322,
 'belinda': 7.202305755306933,
 'betty': 5.552773385670955,
 'biannual': 7.552508184740048,
 'born': 0.268196273764765,
 'brand': 8.994580915799753,
 'brands': 5.355283607403829,
 'british': 2.238031759283139,
 'business': 2.3749015223874728,
 'businesswoman': 6.158181651922893,
 'by': 0.37455341206197373,
 'cameo': 5.6393878585077255,
 'caroline': 5.67822769182399,
 'celebrity': 4.564873121418676,
 'chartbeckham': 10.986495389225194,
 'children': 2.4252853123921825,
 'clamour': 9.887883100557085,
 'collaborations': 4.808551275174594,
 'coming': 3.7624705809393637,
 'couples': 5.956057467832759,
 'daily': 3.536415819417696,
 'david': 2.4512658353228582,
 'decade': 3.9816133995123346,
 'designer': 15.619147212478477,
 'diffusion': 7.1363477875151355,
 'documentaries': 4.476237048702044,
 'dubbed': 5.054250201777184,
 'english': 2.239461125047026,
 'episode': 3.8125370694684007,
 'eponymous': 5.810345656651365,
 'estimated': 5.205751873432865,
 'fame': 3.0071564939628668,
 'familys': 5.421974981902501,
 'fashion': 21.165287353137074,
 'first': 0.6956048713993103,
 'five': 2.2137301792754096,
 'following': 3.9218391113882123,
 'for': 0.07286252934328691,
 'four': 3.844212145466632,
 'from': 0.29375533798563447,
 'gathered': 5.956057467832759,
 'germanys': 5.936639381975657,
 'girls': 7.972321857899928,
 'group': 1.9855189451548496,
 'guest': 3.134445181959305,
 'had': 3.5322852369256745,
 'has': 1.713990158976156,
 'have': 1.4416847832984716,
 'her': 4.650646135898402,
 'highprofile': 5.38807343022682,
 'icon': 5.433535804303577,
 'idol': 5.240292198685041,
 'in': 0.01158487620145739,
 'including': 1.2272824458461182,
 'interests': 3.804903444613329,
 'internationally': 3.60748726159689,
 'is': 0.08284875142655997,
 'issue': 3.92773723670653,
 'joint': 3.769051957528662,
 'judge': 3.466802985108655,
 'july': 1.9428000946579587,
 'label': 9.90513433710723,
 'late': 2.374355720500003,
 'launched': 3.594463821710603,
 'lowerpriced': 10.986495389225194,
 'made': 1.519886215502974,
 'magazine': 2.456583425401182,
 'married': 2.327976261718522,
 'millionin': 7.728398851203712,
 'mind': 4.374454354392102,
 'model': 3.5981675296480873,
 'more': 1.673778950632145,
 'most': 1.4186204428983973,
 'music': 1.7927926584020348,
 'named': 2.0300155412252816,
 'ne': 4.553555296486015,
 'new': 0.8871532656125274,
 'next': 2.670439668860552,
 'noted': 3.443222042519748,
 'now': 1.96695239252401,
 'number': 2.12302108305424,
 'of': 0.024937057194669147,
 'official': 3.1501256286800703,
 'on': 0.18441275335060037,
 'other': 1.4424007566948476,
 'out': 1.8484031814566355,
 'over': 1.4878231559557336,
 'pack': 5.868501576808439,
 'participated': 3.2647036124076587,
 'past': 3.272264244376109,
 'performer': 4.073752568732018,
 'pop': 3.5913878426627086,
 'pops': 6.1907048436284535,
 'posh': 7.728398851203712,
 'predicted': 6.259107570512853,
 'project': 2.6446084197090065,
 'reached': 3.500442771362054,
 'real': 3.3707043171893614,
 'reality': 4.213415013569659,
 'recognised': 4.997533972335331,
 'records': 5.35708568790835,
 'release': 2.9982917922026187,
 'rose': 3.7120158304513233,
 'runway': 6.532148092971687,
 'saying': 4.093853748053105,
 'scathing': 7.990763115671204,
 'she': 7.909936190856877,
 'show': 2.1689013529494012,
 'shows': 2.8354504435401706,
 'signed': 2.5176524587500038,
 'significant': 3.7624705809393637,
 'since': 1.455376717308041,
 'singer': 2.7818235602743835,
 'singles': 7.4745606642216105,
 'spice': 19.928069902114533,
 'split': 4.1599501656686,
 'star': 2.9854754279015427,
 'style': 3.202022153488725,
 'successful': 2.679282762596886,
 'telegraph': 5.202670206895457,
 'telstar': 8.683910296231149,
 'than': 2.0650378102773113,
 'that': 0.6614069466714981,
 'the': 0.0019299790089043535,
 'they': 1.8993401178193898,
 'ticket': 5.142950972193835,
 'to': 0.2816696260907954,
 'top': 4.5481288314969115,
 'topmodel': 9.600201028105303,
 'transition': 4.721194176487485,
 'ugly': 6.486685718894929,
 'uk': 8.371829993731193,
 'victoria': 15.766361088383295,
 'virgin': 5.292763250422495,
 'wag': 8.789270811888976,
 'was': 0.31746314244873386,
 'wealth': 5.457066301713771,
 'week': 3.57252509903475,
 'white': 3.1974549875677174,
 'who': 0.9098952189804214,
 'with': 0.40493728504412135,
 'won': 1.3836400683164753,
 'writing': 2.61409678271219,
 'year': 1.3423616371539895,
 'york': 1.701047544762206,
 'your': 3.7127090713802997}

In [34]:
wordCountNN = graphlab.nearest_neighbors.create(data, features=['word_count'], distance='cosine', label='name')

PROGRESS: Starting brute force nearest neighbors model training.

In [35]:
TFIDFNN  = graphlab.nearest_neighbors.create(data, features=['tfidf'], distance='cosine', label='name')

PROGRESS: Starting brute force nearest neighbors model training.

What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?

What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features?

What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features?

What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features?

In [37]:
# TFIDFNN.similarity_graph()

In [38]:
wordCountNN.query(elton)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 3.862ms      |
PROGRESS: | Done         |         | 100         | 311.438ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [39]:
TFIDFNN.query(elton)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 13.185ms     |
PROGRESS: | Done         |         | 100         | 337.732ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [40]:
wordCountNN.query(victoriaBeckham)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 7.202ms      |
PROGRESS: | Done         |         | 100         | 301.755ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [41]:
TFIDFNN.query(victoriaBeckham)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 9.492ms      |
PROGRESS: | Done         |         | 100         | 359.427ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [42]:
AnswerDict

{' What are the 3 words in his articles with highest word counts?': ['the',
  'in',
  'and'],
 'What are the 3 words in his articles with highest TF-IDF? ': ['furnish',
  'elton',
  'billboard'],
 'What\xe2\x80\x99s the cosine distance between the articles on \xe2\x80\x98Elton John\xe2\x80\x99 and Paul McCartney\xe2\x80\x99?': 0.8250310029221779,
 'What\xe2\x80\x99s the cosine distance between the articles on \xe2\x80\x98Elton John\xe2\x80\x99 and \xe2\x80\x98Victoria Beckham\xe2\x80\x99?': 0.9567006376655429}

In [ ]:
g