In [2]:
import graphlab

In [3]:
graphlab.canvas.set_target('ipynb')

In [4]:
SIMPLE_FEATURES_MODEL =['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [5]:
ADVANCED_FEATURES_MODEL = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [6]:
answer_dict = {}

In [7]:
SALES_DATA = graphlab.SFrame(data='./data/home_data.gl')

[INFO] This non-commercial license of GraphLab Create is assigned to joseph.finlayson@gmail.comand will expire on October 18, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-9114 - Server binary: /home/joe/coursera/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1446303166.log
[INFO] GraphLab Server Version: 1.6.1

# 1. Selection and summary statistics: In the notebook we covered in the module, we discovered which neighborhood (zip code) of Seattle had the highest average house sale price. Now, take the sales data, select only the houses with this zip code, and compute the average price. Save this result to answer the quiz at the end.

## Find the zip code which has the highes average sales price

In [8]:
import graphlab.aggregate as agg
data = SALES_DATA.groupby(key_columns='zipcode', operations={ 'mean_price': agg.MEAN('price')})

In [62]:
data

Columns:
	zipcode	str
	mean_price	float

Rows: 70

Data:
+---------+---------------+
| zipcode |   mean_price  |
+---------+---------------+
|  98033  | 803719.532407 |
|  98032  |   251296.24   |
|  98065  | 527961.203226 |
|  98077  | 682774.878788 |
|  98144  | 594547.641399 |
|  98136  | 551688.673004 |
|  98115  |  619900.5506  |
|  98075  | 790576.668524 |
|  98034  | 521652.858716 |
|  98058  | 353608.635165 |
+---------+---------------+
[70 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [79]:
most_expensive_zipcode = data.sort('mean_price', ascending=False)[0]['zipcode']

## 98039 is the highest priced zip code

In [80]:
answer_dict['answer1'] = SALES_DATA[SALES_DATA['zipcode']==most_expensive_zipcode]['price'].mean()

In [82]:
SALES_DATA[SALES_DATA['zipcode']==most_expensive_zipcode]

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 3625049014 | 2014-08-29 00:00:00+00:00 | 2950000 |    4     |    3.5    |     4860    |
| 2540700110 | 2015-02-12 00:00:00+00:00 | 1905000 |    4     |    3.5    |     4210    |
| 3262300940 | 2014-11-07 00:00:00+00:00 |  875000 |    3     |     1     |     1220    |
| 3262300940 | 2015-02-10 00:00:00+00:00 |  940000 |    3     |     1     |     1220    |
| 6447300265 | 2014-10-14 00:00:00+00:00 | 4000000 |    4     |    5.5    |     7080    |
| 2470100110 | 2014-08-04 00:00:00+00:00 | 5570000 |    5     |    5.75   |     9200    |
| 2210500019 | 2015-03-24 00:00:00+00:00 |  937500 |    3     |     1     |     1320    |
| 6447300345 | 2015-04-06 00:00:00+00:00 | 1160000 |    4     |     3     |     2680    |
| 6447300225 | 2014-11-06 00:00:00+00:00 | 1880000 |    3     |    2.75   |     2620    |
| 2525049148 | 2014-10-07 00:00:00+00:00 | 3418800 |    5     |     5     |     5450    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|  23885   |   2    |     0      |  0   |     3     |   12  |    4860    |       0       |
|  18564   |   2    |     0      |  0   |     3     |   11  |    4210    |       0       |
|   8119   |   1    |     0      |  0   |     4     |   7   |    1220    |       0       |
|   8119   |   1    |     0      |  0   |     4     |   7   |    1220    |       0       |
|  16573   |   2    |     0      |  0   |     3     |   12  |    5760    |      1320     |
|  35069   |   2    |     0      |  0   |     3     |   13  |    6200    |      3000     |
|   8500   |   1    |     0      |  0   |     4     |   7   |    1320    |       0       |
|  15438   |   2    |     0      |  2   |     3     |   8   |    2680    |       0       |
|  17919   |   1    |     0      |  1   |     4     |   9   |    2620    |       0       |
|  20412   |   2    |     0      |  0   |     3     |   11  |    5450    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1996   |      0       |  98039  | 47.61717049 | -122.23040939 |     3580.0    | ... |
|   2001   |      0       |  98039  | 47.62060082 |  -122.2245047 |     3520.0    | ... |
|   1955   |      0       |  98039  | 47.63281908 | -122.23554392 |     1910.0    | ... |
|   1955   |      0       |  98039  | 47.63281908 | -122.23554392 |     1910.0    | ... |
|   2008   |      0       |  98039  | 47.61512031 | -122.22420058 |     3140.0    | ... |
|   2001   |      0       |  98039  | 47.62888314 | -122.23346379 |     3560.0    | ... |
|   1954   |      0       |  98039  | 47.61872888 | -122.22643371 |     2790.0    | ... |
|   1902   |     1956     |  98039  | 47.61089438 | -122.22582388 |     4480.0    | ... |
|   1949   |      0       |  98039  | 47.61435052 | -122.22772057 |     3400.0    | ... |
|   2014   |      0       |  98039  | 47.62087993 | -122.23726918 |     3160.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [77]:
salesIn98002

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
	[]

In [11]:
answer_dict

{'answer1': 234284.03517587943}

## 2. Filtering data: One of the key features we used in our model was the number of square feet of living space (‘sqft_living’) in the house. For this part, we are going to use the idea of filtering (selecting) data.

In particular, we are going to use logical filters to select rows of an SFrame. You can find more info in the Logical Filter section of this documentation.
Using such filters, first select the houses that have ‘sqft_living’ higher than 2000 sqft but no larger than 4000 sqft.
*What fraction of the all houses have ‘sqft_living’ in this range? Save this result to answer the quiz at the end.*

```
e.g: >>> sf[(sf['id'] >= 1) & (sf['id'] <= 2)]

```

In [24]:
number_of_medium_size_houses = SALES_DATA[(SALES_DATA['sqft_living'] > 2000) & (SALES_DATA['sqft_living'] < 4000)].num_rows()

In [25]:
number_total_houses = SALES_DATA.num_rows()

In [36]:
answer_dict['answer2'] =  float(number_of_medium_size_houses) / float(number_total_houses)

In [83]:
answer_dict

{'answer1': 2160606.5999999996,
 'answer2': 0.4215518437977143,
 'answer3': 30588.643095767242}

## roughly  42% of houses are medium sized

# 3.Building a regression model with several more features: In the sample notebook, we built two regression models to predict house prices, one using just ‘sqft_living’ and the other one using a few more features, we called this set

Compute the RMSE (root mean squared error) on the test_data for the model using just my_features, and for the one using advanced_features.
Note 1: when doing the train-test split, make sure you use seed=0, so you get the same training and test sets, and thus results, as we do.

Note 2: in the module we discussed residual sum of squares (RSS) as an error metric for regression, but GraphLab Create uses root mean squared error (RMSE). These are two common measures of error regression, and RMSE is simply the square root of the mean RSS:


(Important note: when answering the question below using GraphLab Create, when you call the linear_regression.create() function, make sure you use the parameter validation_set=None, as done in the notebook you download above. When you use regression GraphLab Create, it sets aside a small random subset of the data to validate some parameters. This process can cause fluctuations in the final RMSE, so we will avoid it to make sure everyone gets the same answer.)

*What is the difference in RMSE between the model trained with my_features and the one trained with advanced_features? Save this result to answer the quiz at the end.*

### Compute the RMSE using simple_features

In [91]:
TRAIN_DATA, TEST_DATA = SALES_DATA.random_split(.8, seed=0)

In [92]:
simple_model = graphlab.linear_regression.create(TRAIN_DATA, target='price', features=SIMPLE_FEATURES_MODEL, validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 17384
PROGRESS: Number of features          : 6
PROGRESS: Number of unpacked features : 6
PROGRESS: Number of coefficients    : 115
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.029158     | 3763208.270523     | 181908.848367 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+

In [48]:
RMSE_SIMPLE_MODEL = simple_model.evaluate(TEST_DATA)['rmse']

In [49]:
advanced_model = graphlab.linear_regression.create(TRAIN_DATA, target='price', features=ADVANCED_FEATURES_MODEL, validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 17384
PROGRESS: Number of features          : 18
PROGRESS: Number of unpacked features : 18
PROGRESS: Number of coefficients    : 127
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.042046     | 3469012.450686     | 154580.940736 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+

In [93]:
RMSE_ADVANCED_MODEL = advanced_model.evaluate(TEST_DATA)['rmse']

In [94]:
print RMSE_ADVANCED_MODEL, RMSE_SIMPLE_MODEL

156831.116802 179542.433313

In [98]:
answer_dict['answer3'] = RMSE_SIMPLE_MODEL - RMSE_ADVANCED_MODEL

In [99]:
answer_dict

{'answer1': 2160606.5999999996,
 'answer2': 0.4215518437977143,
 'answer3': 22711.316510500183}